<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411016547773-b9elcsuvbga8rmgb4tto2v8q97lkvnam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411016547773-b9elcsuvbga8rmgb4tto2v8q97lkvnam</string>
	<key>API_KEY</key>
	<string>AIzaSyDEQM6zIurfXqgP3dkuW5T_Op1JvfPpHTc</string>
	<key>GCM_SENDER_ID</key>
	<string>411016547773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nivocourier</string>
	<key>PROJECT_ID</key>
	<string>shop-delivery-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-delivery-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411016547773:ios:d509beef4369e4512556d4</string>
	<key>DATABASE_URL</key>
	<string>https://shop-delivery-demo.firebaseio.com</string>
</dict>
</plist>